<div [class.main-animation]="animated" class="bg-white p-5 border-1 border-muted main-animation ">
    <a href="#" class="block text-start">
        <div class="border-orange-200 border-2">
            <img src="LinkedIn20252.png" alt="The Cenntor Abdulaziz" class="w-full h-full">
        </div>
        <div>
            <h4 class="font-bold text-muted mt-5">Survive & thrive</h4>
            <p class="text-black font-bold text-xl">Growth in a Downturn: How Arash Fayz of LA Tutoring Pivoted
                After An 80% Client Drop</p>
            <p class="mt-2">Arash Fayz of LA Tutors knew he needed to change his business model when the
                pandemic hit. Here’s how he scaled his tutoring business after an 80% drop in clients.</p>
            <span class="inline-block font-extrabold text-primary underline text-sm  mt-2">Read More</span>
        </div>
    </a>
</div>